# Node
node_modules/

# Python
__pycache__/
*.pyc

# Java/Kotlin
.gradle/
build/

# Flutter/Dart
.dart_tool/
build/

# Android
*.apk
local.properties

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

